{
  "openapi": "3.1.0",
  "info": {
    "title": "Cortex SDK API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.usecortex.ai",
      "x-fern-server-name": "cortex-prod",
      "x-fern-audiences": [
        "public"
      ]
    }
  ],
  "paths": {
    "/metrics": {
      "get": {
        "summary": "Metrics",
        "operationId": "metrics_metrics_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/ingestion/upload_document": {
      "post": {
        "tags": [
          "ingestion"
        ],
        "summary": "Upload Document",
        "operationId": "upload_document_ingestion_upload_document_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_document_ingestion_upload_document_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceUploadResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "upload_document",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/ingestion/upload_app": {
      "post": {
        "tags": [
          "ingestion"
        ],
        "summary": "Upload App",
        "operationId": "upload_app_ingestion_upload_app_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_app_ingestion_upload_app_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppSourcesUploadData"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "upload_app_sources",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/ingestion/verify_processing": {
      "post": {
        "tags": [
          "ingestion"
        ],
        "summary": "Verifying Processing",
        "operationId": "verifying_processing_ingestion_verify_processing_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id",
              "example": "CortexDoc1234"
            }
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Tenant Id",
              "example": "tenant_1234"
            }
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sub Tenant Id",
              "example": "sub_tenant_4567"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessingStatus"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "verify_processing",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/tenants/create": {
      "post": {
        "tags": [
          "tenants"
        ],
        "summary": "Create Tenant",
        "operationId": "create_tenant_tenants_create_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantCreateResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/tenants/stats": {
      "get": {
        "tags": [
          "tenants"
        ],
        "summary": "Get Tenant Stats",
        "operationId": "get_tenant_stats_tenants_stats_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tenant Id",
              "example": "tenant_1234"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantStatsResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-keys/create_api_key": {
      "post": {
        "tags": [
          "api-keys"
        ],
        "summary": "Create Api Key",
        "operationId": "create_api_key_api_keys_create_api_key_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreateResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/embeddings/insert_raw_embeddings": {
      "post": {
        "tags": [
          "embeddings"
        ],
        "summary": "Insert Raw Embeddings Endpoint",
        "operationId": "insert_raw_embeddings_endpoint_embeddings_insert_raw_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_insert_raw_embeddings_endpoint_embeddings_insert_raw_embeddings_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertResult"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/embeddings/search_raw_embeddings": {
      "post": {
        "tags": [
          "embeddings"
        ],
        "summary": "Search Raw Embeddings Endpoint",
        "operationId": "search_raw_embeddings_endpoint_embeddings_search_raw_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_search_raw_embeddings_endpoint_embeddings_search_raw_embeddings_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RawEmbeddingSearchResult"
                  },
                  "type": "array",
                  "title": "Response Search Raw Embeddings Endpoint Embeddings Search Raw Embeddings Post"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/embeddings/filter_raw_embeddings": {
      "post": {
        "tags": [
          "embeddings"
        ],
        "summary": "Filter Raw Embeddings Endpoint",
        "operationId": "filter_raw_embeddings_endpoint_embeddings_filter_raw_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_filter_raw_embeddings_endpoint_embeddings_filter_raw_embeddings_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RawEmbeddingSearchResult"
                  },
                  "type": "array",
                  "title": "Response Filter Raw Embeddings Endpoint Embeddings Filter Raw Embeddings Post"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/embeddings/delete_raw_embeddings": {
      "delete": {
        "tags": [
          "embeddings"
        ],
        "summary": "Delete Raw Embeddings Endpoint",
        "operationId": "delete_raw_embeddings_endpoint_embeddings_delete_raw_embeddings_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tenant Id",
              "example": "tenant_1234"
            }
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sub Tenant Id",
              "example": "sub_tenant_4567"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Source Id",
              "example": "CortexDoc1234"
            }
          },
          {
            "name": "chunk_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Chunk Ids",
              "example": [
                "CortexEmbeddings123_0",
                "CortexEmbeddings123_1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResult"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/list_sources": {
      "get": {
        "tags": [
          "list"
        ],
        "summary": "Get User Sources",
        "operationId": "get_user_sources_list_list_sources_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tenant Id",
              "example": "tenant_1234"
            }
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Sub Tenant Id",
              "example": "sub_tenant_4567"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceListResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "sources",
        "x-fern-sdk-method-name": "get_all",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/list/list_sources_by_id": {
      "post": {
        "tags": [
          "list"
        ],
        "summary": "Get User Sources By Id",
        "operationId": "get_user_sources_by_id_list_list_sources_by_id_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSourcesByIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceListResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "sources",
        "x-fern-sdk-method-name": "get_by_ids",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/list/graph_relations_by_id": {
      "get": {
        "tags": [
          "list"
        ],
        "summary": "Graph Relations By Id",
        "operationId": "graph_relations_by_id_list_graph_relations_by_id_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Source Id",
              "example": "CortexDoc1234"
            }
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Tenant Id",
              "example": "tenant_1234"
            }
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sub Tenant Id",
              "example": "sub_tenant_4567"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceGraphRelationsResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "sources",
        "x-fern-sdk-method-name": "get_graph_relations_by_id",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/delete/delete_sources": {
      "post": {
        "tags": [
          "delete"
        ],
        "summary": "Delete Source",
        "operationId": "delete_source_delete_delete_sources_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceDeleteResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "sources",
        "x-fern-sdk-method-name": "delete_source",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/fetch/fetch_source_content": {
      "post": {
        "tags": [
          "fetch"
        ],
        "summary": "Fetch Source",
        "operationId": "fetch_source_fetch_fetch_source_content_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceFetchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceFetchResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "sources",
        "x-fern-sdk-method-name": "fetch_source",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/search/hybrid_search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Hybrid search",
        "operationId": "hybrid_search_search_hybrid_search_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HybridSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievalResult"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/search/full_text_search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Full-text search",
        "operationId": "full_text_search_search_full_text_search_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullTextSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievalResult"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/search/qna": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Question & Answer with retrieval",
        "operationId": "qna_search_search_qna_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QnASearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QnASearchResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/memories/add_memory": {
      "post": {
        "tags": [
          "Memories"
        ],
        "summary": "Add memory",
        "operationId": "add_memory_memories_add_memory_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_add_memory_memories_add_memory_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMemoryResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "add_memory",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/memories/delete_memory": {
      "delete": {
        "tags": [
          "Memories"
        ],
        "summary": "Delete memory",
        "operationId": "delete_memory_memories_delete_memory_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tenant Id",
              "example": "tenant_1234"
            }
          },
          {
            "name": "memory_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Memory Id",
              "example": "memory_1234"
            }
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sub Tenant Id",
              "example": "sub_tenant_4567"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteUserMemoryResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/onboard": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Onboard User",
        "operationId": "onboard_user_user_onboard_post",
        "parameters": [
          {
            "name": "x-cortex-secret",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Cortex-Secret"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardUserResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/resources/list/api_keys": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "List Apis",
        "operationId": "list_apis_dashboard_resources_list_api_keys_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardApisResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/sources": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "List Sources",
        "operationId": "list_sources_dashboard_sources_get",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tenant Id",
              "example": "tenant_1234"
            }
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sub Tenant Id",
              "example": "sub_tenant_4567"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardSourcesResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/resources/list/tenant_ids": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "List Tenants",
        "operationId": "list_tenants_dashboard_resources_list_tenant_ids_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardTenantsResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/user/is_user_admin": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "Is Organization Admin",
        "operationId": "is_organization_admin_dashboard_user_is_user_admin_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/dashboard/user/user_details": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "User Details Ep",
        "operationId": "user_details_ep_dashboard_user_user_details_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/dashboard/user/create_user": {
      "post": {
        "tags": [
          "dashboard"
        ],
        "summary": "Create User",
        "operationId": "create_user_dashboard_user_create_user_post",
        "parameters": [
          {
            "name": "full_name",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Full Name",
              "example": "<str>"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/user/check_user_exists": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "Check User Exists",
        "operationId": "check_user_exists_dashboard_user_check_user_exists_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Root",
        "operationId": "root__get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object",
                  "title": "Response Root  Get"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActualErrorResponse": {
        "properties": {
          "detail": {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        },
        "type": "object",
        "required": [
          "detail"
        ],
        "title": "ActualErrorResponse"
      },
      "AddMemoryResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "default": true,
            "example": true
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": "Memories queued for ingestion successfully"
          },
          "results": {
            "items": {
              "$ref": "#/components/schemas/MemoryResultItem"
            },
            "type": "array",
            "title": "Results",
            "example": []
          },
          "success_count": {
            "type": "integer",
            "title": "Success Count",
            "default": 0,
            "example": 1
          },
          "failed_count": {
            "type": "integer",
            "title": "Failed Count",
            "default": 0,
            "example": 1
          }
        },
        "type": "object",
        "title": "AddMemoryResponse"
      },
      "ApiKeyCreateRequest": {
        "properties": {
          "owner": {
            "type": "string",
            "title": "Owner",
            "example": "<owner>"
          },
          "scopes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Scopes",
            "example": []
          },
          "env": {
            "type": "string",
            "pattern": "^(live|test)$",
            "title": "Env",
            "default": "live",
            "example": "<env>"
          },
          "prefix": {
            "type": "string",
            "minLength": 1,
            "title": "Prefix",
            "default": "sk",
            "example": "<prefix>"
          }
        },
        "type": "object",
        "required": [
          "owner"
        ],
        "title": "ApiKeyCreateRequest"
      },
      "ApiKeyCreateResponse": {
        "properties": {
          "api_key_id": {
            "type": "string",
            "title": "Api Key Id",
            "example": "<api_key_id>"
          },
          "owner": {
            "type": "string",
            "title": "Owner",
            "example": "<owner>"
          },
          "scopes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Scopes",
            "example": []
          },
          "env": {
            "type": "string",
            "title": "Env",
            "example": "<env>"
          },
          "full_api_key": {
            "type": "string",
            "title": "Full Api Key",
            "example": "<full_api_key>"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "example": "<created_at>"
          }
        },
        "type": "object",
        "required": [
          "api_key_id",
          "owner",
          "env",
          "full_api_key",
          "created_at"
        ],
        "title": "ApiKeyCreateResponse"
      },
      "ApiKeyInfo": {
        "properties": {
          "api_key_id": {
            "type": "string",
            "title": "Api Key Id",
            "example": "<api_key_id>"
          },
          "user_email": {
            "type": "string",
            "title": "User Email",
            "example": "<user_email>"
          },
          "user_id": {
            "type": "string",
            "title": "User Id",
            "example": "<user_id>"
          },
          "scopes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Scopes",
            "example": []
          },
          "is_valid": {
            "type": "boolean",
            "title": "Is Valid",
            "example": true
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "example": "<created_at>"
          }
        },
        "type": "object",
        "required": [
          "api_key_id",
          "user_email",
          "user_id",
          "is_valid",
          "created_at"
        ],
        "title": "ApiKeyInfo"
      },
      "AppSourcesUploadData": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "default": true,
            "example": true
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": "Upload initiated successfully"
          },
          "results": {
            "items": {
              "$ref": "#/components/schemas/SourceUploadResultItem"
            },
            "type": "array",
            "title": "Results",
            "example": []
          },
          "success_count": {
            "type": "integer",
            "title": "Success Count",
            "default": 0,
            "example": 1
          },
          "failed_count": {
            "type": "integer",
            "title": "Failed Count",
            "default": 0,
            "example": 1
          }
        },
        "type": "object",
        "title": "AppSourcesUploadData"
      },
      "AttachmentModel": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "default": "",
            "example": "<id>"
          },
          "url": {
            "type": "string",
            "title": "Url",
            "default": "",
            "example": "<url>"
          },
          "title": {
            "type": "string",
            "title": "Title",
            "default": "",
            "example": "<title>"
          },
          "content_type": {
            "type": "string",
            "title": "Content Type",
            "default": "",
            "example": "<content_type>"
          },
          "content_url": {
            "type": "string",
            "title": "Content Url",
            "default": "",
            "example": "<content_url>"
          },
          "misc": {
            "additionalProperties": true,
            "type": "object",
            "title": "Misc"
          },
          "content": {
            "$ref": "#/components/schemas/ContentModel"
          }
        },
        "type": "object",
        "title": "AttachmentModel"
      },
      "BM25OperatorType": {
        "type": "string",
        "enum": [
          "or",
          "and"
        ],
        "title": "BM25OperatorType"
      },
      "Body_add_memory_memories_add_memory_post": {
        "properties": {
          "memories": {
            "items": {
              "$ref": "#/components/schemas/MemoryItem"
            },
            "type": "array",
            "minItems": 1,
            "title": "Memories",
            "example": []
          },
          "tenant_id": {
            "type": "string",
            "title": "Tenant Id",
            "example": "tenant_1234"
          },
          "sub_tenant_id": {
            "type": "string",
            "title": "Sub Tenant Id",
            "default": "",
            "example": "sub_tenant_4567"
          },
          "upsert": {
            "type": "boolean",
            "title": "Upsert",
            "default": true,
            "example": true
          }
        },
        "type": "object",
        "required": [
          "memories",
          "tenant_id"
        ],
        "title": "Body_add_memory_memories_add_memory_post"
      },
      "Body_filter_raw_embeddings_endpoint_embeddings_filter_raw_embeddings_post": {
        "properties": {
          "tenant_id": {
            "type": "string",
            "title": "Tenant Id",
            "example": "tenant_1234"
          },
          "sub_tenant_id": {
            "type": "string",
            "title": "Sub Tenant Id",
            "example": "sub_tenant_4567"
          },
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Id",
            "example": "CortexDoc1234"
          },
          "chunk_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Chunk Ids",
            "example": [
              "CortexEmbeddings123_0",
              "CortexEmbeddings123_1"
            ]
          },
          "output_fields": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Output Fields"
          },
          "limit": {
            "type": "integer",
            "maximum": 10000.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 100,
            "example": 1
          }
        },
        "type": "object",
        "required": [
          "tenant_id",
          "sub_tenant_id"
        ],
        "title": "Body_filter_raw_embeddings_endpoint_embeddings_filter_raw_embeddings_post"
      },
      "Body_insert_raw_embeddings_endpoint_embeddings_insert_raw_embeddings_post": {
        "properties": {
          "tenant_id": {
            "type": "string",
            "title": "Tenant Id",
            "example": "tenant_1234"
          },
          "sub_tenant_id": {
            "type": "string",
            "title": "Sub Tenant Id",
            "default": "",
            "example": "sub_tenant_4567"
          },
          "embeddings": {
            "items": {
              "$ref": "#/components/schemas/RawEmbeddingDocument"
            },
            "type": "array",
            "title": "Embeddings",
            "example": [
              [
                0.123413,
                0.655367,
                0.987654,
                0.123456,
                0.789012
              ],
              [
                0.123413,
                0.655367,
                0.987654,
                0.123456,
                0.789012
              ]
            ]
          },
          "upsert": {
            "type": "boolean",
            "title": "Upsert",
            "default": false,
            "example": true
          }
        },
        "type": "object",
        "required": [
          "tenant_id",
          "embeddings"
        ],
        "title": "Body_insert_raw_embeddings_endpoint_embeddings_insert_raw_embeddings_post"
      },
      "Body_search_raw_embeddings_endpoint_embeddings_search_raw_embeddings_post": {
        "properties": {
          "tenant_id": {
            "type": "string",
            "title": "Tenant Id",
            "example": "tenant_1234"
          },
          "sub_tenant_id": {
            "type": "string",
            "title": "Sub Tenant Id",
            "example": "sub_tenant_4567"
          },
          "query_embedding": {
            "items": {
              "type": "number"
            },
            "type": "array",
            "title": "Query Embedding",
            "example": []
          },
          "limit": {
            "type": "integer",
            "maximum": 1000.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 10,
            "example": 1
          },
          "filter_expr": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Filter Expr"
          },
          "output_fields": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Output Fields"
          }
        },
        "type": "object",
        "required": [
          "tenant_id",
          "sub_tenant_id",
          "query_embedding"
        ],
        "title": "Body_search_raw_embeddings_endpoint_embeddings_search_raw_embeddings_post"
      },
      "Body_upload_app_ingestion_upload_app_post": {
        "properties": {
          "app_sources": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SourceModel-Input"
              },
              {
                "items": {
                  "$ref": "#/components/schemas/SourceModel-Input"
                },
                "type": "array"
              }
            ],
            "title": "App Sources"
          },
          "tenant_id": {
            "type": "string",
            "title": "Tenant Id",
            "example": "tenant_1234"
          },
          "sub_tenant_id": {
            "type": "string",
            "title": "Sub Tenant Id",
            "default": "",
            "example": "sub_tenant_4567"
          },
          "upsert": {
            "type": "boolean",
            "title": "Upsert",
            "default": true,
            "example": true
          }
        },
        "type": "object",
        "required": [
          "app_sources",
          "tenant_id"
        ],
        "title": "Body_upload_app_ingestion_upload_app_post"
      },
      "Body_upload_document_ingestion_upload_document_post": {
        "properties": {
          "files": {
            "items": {
              "type": "string",
              "format": "binary"
            },
            "type": "array",
            "title": "Files"
          },
          "tenant_id": {
            "type": "string",
            "title": "Tenant Id",
            "example": "tenant_1234"
          },
          "sub_tenant_id": {
            "type": "string",
            "title": "Sub Tenant Id",
            "default": "",
            "example": "sub_tenant_4567"
          },
          "upsert": {
            "type": "boolean",
            "title": "Upsert",
            "default": true,
            "example": true
          },
          "file_metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Metadata"
          }
        },
        "type": "object",
        "required": [
          "files",
          "tenant_id"
        ],
        "title": "Body_upload_document_ingestion_upload_document_post"
      },
      "CollectionStats": {
        "properties": {
          "row_count": {
            "type": "integer",
            "title": "Row Count",
            "example": 1
          },
          "dimensions": {
            "type": "integer",
            "title": "Dimensions",
            "example": 1
          }
        },
        "type": "object",
        "required": [
          "row_count",
          "dimensions"
        ],
        "title": "CollectionStats"
      },
      "ContentModel": {
        "properties": {
          "text": {
            "type": "string",
            "title": "Text",
            "default": "",
            "example": "<text>"
          },
          "html_base64": {
            "type": "string",
            "title": "Html Base64",
            "default": "",
            "example": "<html_base64>"
          },
          "csv_base64": {
            "type": "string",
            "title": "Csv Base64",
            "default": "",
            "example": "<csv_base64>"
          },
          "markdown": {
            "type": "string",
            "title": "Markdown",
            "default": "",
            "example": "<markdown>"
          },
          "files": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Files"
          },
          "layout": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Layout",
            "example": []
          }
        },
        "type": "object",
        "title": "ContentModel"
      },
      "CustomPropertyDefinition": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "example": "<name>"
          },
          "data_type": {
            "$ref": "#/components/schemas/MilvusDataType",
            "default": "VARCHAR"
          },
          "max_length": {
            "type": "integer",
            "title": "Max Length",
            "default": 1024,
            "example": 1
          },
          "enable_analyzer": {
            "type": "boolean",
            "title": "Enable Analyzer",
            "default": false,
            "example": true
          },
          "enable_match": {
            "type": "boolean",
            "title": "Enable Match",
            "default": false,
            "example": true
          },
          "enable_dense_embedding": {
            "type": "boolean",
            "title": "Enable Dense Embedding",
            "default": false,
            "example": true
          },
          "enable_sparse_embedding": {
            "type": "boolean",
            "title": "Enable Sparse Embedding",
            "default": false,
            "example": true
          },
          "nullable": {
            "type": "boolean",
            "title": "Nullable",
            "default": true,
            "example": true
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "CustomPropertyDefinition"
      },
      "DashboardApisResponse": {
        "properties": {
          "api_keys": {
            "items": {
              "$ref": "#/components/schemas/ApiKeyInfo"
            },
            "type": "array",
            "title": "Api Keys",
            "example": []
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "example": 1
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": "Successfully retrieved API keys"
          }
        },
        "type": "object",
        "required": [
          "count"
        ],
        "title": "DashboardApisResponse"
      },
      "DashboardSourcesResponse": {
        "properties": {
          "sources": {
            "items": {
              "$ref": "#/components/schemas/SourceModel-Output"
            },
            "type": "array",
            "title": "Sources"
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "example": 1
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": "Successfully retrieved sources"
          }
        },
        "type": "object",
        "required": [
          "count"
        ],
        "title": "DashboardSourcesResponse"
      },
      "DashboardTenantsResponse": {
        "properties": {
          "tenants": {
            "items": {
              "$ref": "#/components/schemas/TenantInfo"
            },
            "type": "array",
            "title": "Tenants",
            "example": []
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "example": 1
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": "Successfully retrieved tenants"
          }
        },
        "type": "object",
        "required": [
          "count"
        ],
        "title": "DashboardTenantsResponse"
      },
      "DeleteResult": {
        "properties": {
          "delete_count": {
            "type": "integer",
            "title": "Delete Count",
            "example": 1
          },
          "success": {
            "type": "boolean",
            "title": "Success",
            "default": true,
            "example": true
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error"
          }
        },
        "type": "object",
        "required": [
          "delete_count"
        ],
        "title": "DeleteResult"
      },
      "DeleteUserMemoryResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "default": true,
            "example": true
          },
          "user_memory_deleted": {
            "type": "boolean",
            "title": "User Memory Deleted",
            "example": true
          }
        },
        "type": "object",
        "required": [
          "user_memory_deleted"
        ],
        "title": "DeleteUserMemoryResponse"
      },
      "Entity": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "example": "<name>"
          },
          "type": {
            "type": "string",
            "title": "Type",
            "example": "<type>"
          },
          "namespace": {
            "type": "string",
            "title": "Namespace",
            "default": "default",
            "example": "<namespace>"
          },
          "entity_id": {
            "type": "string",
            "title": "Entity Id",
            "example": "<entity_id>"
          },
          "identifier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Identifier"
          }
        },
        "type": "object",
        "required": [
          "name",
          "type",
          "entity_id"
        ],
        "title": "Entity"
      },
      "ErrorResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "default": false
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "title": "Message",
            "default": "Error occurred"
          },
          "error_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Code"
          }
        },
        "type": "object",
        "title": "ErrorResponse"
      },
      "FetchMode": {
        "type": "string",
        "enum": [
          "content",
          "url",
          "both"
        ],
        "title": "FetchMode"
      },
      "FullTextSearchRequest": {
        "properties": {
          "tenant_id": {
            "type": "string",
            "title": "Tenant Id",
            "example": "tenant_1234"
          },
          "sub_tenant_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sub Tenant Id",
            "example": "sub_tenant_4567"
          },
          "query": {
            "type": "string",
            "title": "Query",
            "example": "John Smith Jake"
          },
          "operator": {
            "$ref": "#/components/schemas/BM25OperatorType",
            "default": "or",
            "example": "and"
          },
          "max_chunks": {
            "type": "integer",
            "title": "Max Chunks",
            "default": 10,
            "example": 1
          },
          "search_mode": {
            "$ref": "#/components/schemas/SearchMode",
            "default": "sources"
          }
        },
        "type": "object",
        "required": [
          "tenant_id",
          "query"
        ],
        "title": "FullTextSearchRequest"
      },
      "GraphContext": {
        "properties": {
          "query_paths": {
            "items": {
              "$ref": "#/components/schemas/ScoredPathResponse"
            },
            "type": "array",
            "title": "Query Paths",
            "example": []
          },
          "chunk_relations": {
            "items": {
              "$ref": "#/components/schemas/ScoredPathResponse"
            },
            "type": "array",
            "title": "Chunk Relations",
            "example": []
          },
          "chunk_id_to_group_ids": {
            "additionalProperties": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "type": "object",
            "title": "Chunk Id To Group Ids"
          }
        },
        "type": "object",
        "title": "GraphContext"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
[...]
