{
  "openapi": "3.1.0",
  "info": {
    "title": "Cortex SDK API",
    "description": "REST APIs for Cortex AI retrieval engine",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.usecortex.ai",
      "description": "Production",
      "x-fern-server-name": "cortex-prod"
    }
  ],
  "paths": {
    "/metrics": {
      "get": {
        "summary": "Metrics",
        "operationId": "metrics_metrics_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/ingestion/upload_knowledge": {
      "post": {
        "tags": [
          "ingestion"
        ],
        "summary": "Upload Knowledge",
        "operationId": "upload_knowledge_ingestion_upload_knowledge_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_knowledge_ingestion_upload_knowledge_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "upload_knowledge",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/ingestion/verify_processing": {
      "post": {
        "tags": [
          "ingestion"
        ],
        "summary": "Verifying Processing",
        "operationId": "verifying_processing_ingestion_verify_processing_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The file ID to check processing status for",
              "title": "File Id",
              "example": "<str>"
            },
            "description": "The file ID to check processing status for"
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "default": "",
              "title": "Tenant Id",
              "example": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional sub-tenant identifier used to organize data within a tenant. If omitted, the default sub-tenant created during tenant setup will be used.",
              "title": "Sub Tenant Id",
              "example": "sub_tenant_4567"
            },
            "description": "Optional sub-tenant identifier used to organize data within a tenant. If omitted, the default sub-tenant created during tenant setup will be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessingStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "verify_processing",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/tenants/create": {
      "post": {
        "tags": [
          "tenants"
        ],
        "summary": "Create Tenant",
        "operationId": "create_tenant_tenants_create_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "tenant",
        "x-fern-sdk-method-name": "create_tenant",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/tenants/monitor": {
      "get": {
        "tags": [
          "tenants"
        ],
        "summary": "Get Tenant Stats",
        "operationId": "get_tenant_stats_tenants_monitor_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "example": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "tenant",
        "x-fern-sdk-method-name": "stats",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/embeddings/insert_raw_embeddings": {
      "post": {
        "tags": [
          "embeddings"
        ],
        "summary": "Insert Raw Embeddings Endpoint",
        "operationId": "insert_raw_embeddings_endpoint_embeddings_insert_raw_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_insert_raw_embeddings_endpoint_embeddings_insert_raw_embeddings_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "embeddings",
        "x-fern-sdk-method-name": "insert",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/embeddings/search_raw_embeddings": {
      "post": {
        "tags": [
          "embeddings"
        ],
        "summary": "Search Raw Embeddings Endpoint",
        "operationId": "search_raw_embeddings_endpoint_embeddings_search_raw_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_search_raw_embeddings_endpoint_embeddings_search_raw_embeddings_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RawEmbeddingSearchResult"
                  },
                  "type": "array",
                  "title": "Response Search Raw Embeddings Endpoint Embeddings Search Raw Embeddings Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "embeddings",
        "x-fern-sdk-method-name": "search",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/embeddings/filter_raw_embeddings": {
      "post": {
        "tags": [
          "embeddings"
        ],
        "summary": "Filter Raw Embeddings Endpoint",
        "operationId": "filter_raw_embeddings_endpoint_embeddings_filter_raw_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_filter_raw_embeddings_endpoint_embeddings_filter_raw_embeddings_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RawEmbeddingSearchResult"
                  },
                  "type": "array",
                  "title": "Response Filter Raw Embeddings Endpoint Embeddings Filter Raw Embeddings Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "embeddings",
        "x-fern-sdk-method-name": "filter",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/embeddings/delete_raw_embeddings": {
      "delete": {
        "tags": [
          "embeddings"
        ],
        "summary": "Delete Raw Embeddings Endpoint",
        "operationId": "delete_raw_embeddings_endpoint_embeddings_delete_raw_embeddings_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "example": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional sub-tenant ID for scoping deletion",
              "title": "Sub Tenant Id",
              "example": "sub_tenant_4567"
            },
            "description": "Optional sub-tenant ID for scoping deletion"
          },
          {
            "name": "source_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional source ID to delete by (mutually exclusive with chunk_ids)",
              "title": "Source Id",
              "example": "<str>"
            },
            "description": "Optional source ID to delete by (mutually exclusive with chunk_ids)"
          },
          {
            "name": "chunk_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional list of chunk IDs to delete (mutually exclusive with source_id)",
              "title": "Chunk Ids",
              "example": [
                "CortexEmbeddings123_0",
                "CortexEmbeddings123_1"
              ]
            },
            "description": "Optional list of chunk IDs to delete (mutually exclusive with source_id)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "embeddings",
        "x-fern-sdk-method-name": "delete",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/list/data": {
      "post": {
        "tags": [
          "list"
        ],
        "summary": "List Content",
        "operationId": "list_content_list_data_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListContentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/SourceListResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ListUserMemoriesResponse"
                    }
                  ],
                  "title": "Response List Content List Data Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "fetch",
        "x-fern-sdk-method-name": "list_knowledge",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/list/graph_relations_by_id": {
      "get": {
        "tags": [
          "list"
        ],
        "summary": "Graph Relations By Id",
        "operationId": "graph_relations_by_id_list_graph_relations_by_id_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "source_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The source ID to fetch relations for",
              "title": "Source Id",
              "example": "<str>"
            },
            "description": "The source ID to fetch relations for"
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "default": "",
              "title": "Tenant Id",
              "example": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional sub-tenant identifier used to organize data within a tenant. If omitted, the default sub-tenant created during tenant setup will be used.",
              "title": "Sub Tenant Id",
              "example": "sub_tenant_4567"
            },
            "description": "Optional sub-tenant identifier used to organize data within a tenant. If omitted, the default sub-tenant created during tenant setup will be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceGraphRelationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "fetch",
        "x-fern-sdk-method-name": "graph_relations_by_source_id",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/knowledge/delete_knowledge": {
      "post": {
        "tags": [
          "delete"
        ],
        "summary": "Delete Source",
        "operationId": "delete_source_knowledge_delete_knowledge_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "sources",
        "x-fern-sdk-method-name": "delete",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/fetch/content": {
      "post": {
        "tags": [
          "fetch"
        ],
        "summary": "Fetch Source",
        "operationId": "fetch_source_fetch_content_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceFetchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceFetchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "fetch",
        "x-fern-sdk-method-name": "source_content",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/recall/full_recall": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Hybrid search",
        "operationId": "hybrid_search_recall_full_recall_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HybridSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievalResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "search",
        "x-fern-sdk-method-name": "retrieve",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/recall/boolean_recall": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Full-text search",
        "operationId": "full_text_search_recall_boolean_recall_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullTextSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievalResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "search",
        "x-fern-sdk-method-name": "full_text_search",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/recall/qna": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Question & Answer with retrieval",
        "operationId": "qna_search_recall_qna_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QnASearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QnASearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "search",
        "x-fern-sdk-method-name": "qna",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/memories/add_memory": {
      "post": {
        "tags": [
          "Memories"
        ],
        "summary": "Add memory",
        "operationId": "add_memory_memories_add_memory_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_add_memory_memories_add_memory_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMemoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "add_memory",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/memories/delete_memory": {
      "delete": {
        "tags": [
          "Memories"
        ],
        "summary": "Delete memory",
        "operationId": "delete_memory_memories_delete_memory_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Tenant ID",
              "title": "Tenant Id",
              "example": "tenant_1234"
            },
            "description": "Tenant ID"
          },
          {
            "name": "memory_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the memory to delete",
              "title": "Memory Id",
              "example": "memory_1234"
            },
            "description": "Unique identifier of the memory to delete"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sub-tenant ID",
              "title": "Sub Tenant Id",
              "example": "sub_tenant_4567"
            },
            "description": "Sub-tenant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteUserMemoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "delete_memory",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/dashboard/resources/list/api_keys": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "List Apis",
        "operationId": "list_apis_dashboard_resources_list_api_keys_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardApisResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/sources": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "List Sources",
        "operationId": "list_sources_dashboard_sources_get",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Tenant ID",
              "title": "Tenant Id",
              "example": "tenant_1234"
            },
            "description": "Tenant ID"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sub-tenant ID",
              "title": "Sub Tenant Id",
              "example": "sub_tenant_4567"
            },
            "description": "Sub-tenant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardSourcesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/resources/list/tenant_ids": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "List Tenants",
        "operationId": "list_tenants_dashboard_resources_list_tenant_ids_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardTenantsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/user/is_user_admin": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "Is Organization Admin",
        "operationId": "is_organization_admin_dashboard_user_is_user_admin_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/dashboard/user/user_details": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "User Details Ep",
        "operationId": "user_details_ep_dashboard_user_user_details_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/dashboard/user/create_user": {
      "post": {
        "tags": [
          "dashboard"
        ],
        "summary": "Create User",
        "operationId": "create_user_dashboard_user_create_user_post",
        "parameters": [
          {
            "name": "full_name",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Full Name",
              "example": "<str>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/dashboard/user/check_user_exists": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "Check User Exists",
        "operationId": "check_user_exists_dashboard_user_check_user_exists_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActualErrorResponse": {
        "properties": {
          "detail": {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        },
        "type": "object",
        "required": [
          "detail"
        ],
        "title": "ActualErrorResponse"
      },
      "AddMemoryResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "default": true,
            "example": true
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": "Memories queued for ingestion successfully"
          },
          "results": {
            "items": {
              "$ref": "#/components/schemas/MemoryResultItem"
            },
            "type": "array",
            "title": "Results",
            "description": "List of results for each ingested memory item.",
            "example": []
          },
          "success_count": {
            "type": "integer",
            "title": "Success Count",
            "description": "Number of items successfully queued for ingestion.",
            "default": 0,
            "example": 1
          },
          "failed_count": {
            "type": "integer",
            "title": "Failed Count",
            "description": "Number of items that failed to queue.",
            "default": 0,
            "example": 1
          }
        },
        "type": "object",
        "title": "AddMemoryResponse",
        "description": "Response model for add_memory endpoint."
      },
      "ApiKeyInfo": {
        "properties": {
          "api_key_id": {
            "type": "string",
            "title": "Api Key Id",
            "description": "API key identifier",
            "example": "<api_key_id>"
          },
          "user_email": {
            "type": "string",
            "title": "User Email",
            "description": "Owner email",
            "example": "<user_email>"
          },
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "User ID",
            "example": "<user_id>"
          },
          "scopes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Scopes",
            "description": "API key scopes",
            "example": []
          },
          "is_valid": {
            "type": "boolean",
            "title": "Is Valid",
            "description": "Whether the API key is valid",
            "example": true
          },
          "created_at": {
            "type": "string",
            "title": "Created At",
            "description": "Creation timestamp",
            "example": "<created_at>"
          }
        },
        "type": "object",
        "required": [
          "api_key_id",
          "user_email",
          "user_id",
          "is_valid",
          "created_at"
        ],
        "title": "ApiKeyInfo"
      },
      "AttachmentModel": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique identifier for the attachment.",
            "default": "",
            "example": "CortexDoc1234"
          },
          "url": {
            "type": "string",
            "title": "Url",
            "description": "Public or internal URL referencing the attachment resource.",
            "default": "",
            "example": "<url>"
          },
          "title": {
            "type": "string",
            "title": "Title",
            "description": "Human-readable title or filename of the attachment.",
            "default": "",
            "example": "<title>"
          },
          "content_type": {
            "type": "string",
            "title": "Content Type",
            "description": "MIME type of the attachment (e.g., application/pdf).",
            "default": "",
            "example": "<content_type>"
          },
          "content_url": {
            "type": "string",
            "title": "Content Url",
            "description": "Direct URL for content retrieval when different from the reference URL.",
            "default": "",
            "example": "<content_url>"
          },
          "misc": {
            "additionalProperties": true,
            "type": "object",
            "title": "Misc",
            "description": "Additional attachment attributes defined by the tenant (free-form)."
          },
          "content": {
            "$ref": "#/components/schemas/ContentModel",
            "description": "Structured content payload for the attachment when available."
          }
        },
        "type": "object",
        "title": "AttachmentModel"
      },
      "BM25OperatorType": {
        "type": "string",
        "enum": [
          "or",
          "and"
        ],
        "title": "BM25OperatorType"
      },
      "Body_add_memory_memories_add_memory_post": {
        "properties": {
          "memories": {
            "items": {
              "$ref": "#/components/schemas/MemoryItem"
            },
            "type": "array",
            "minItems": 1,
            "title": "Memories",
            "description": "List of memory items to ingest",
            "example": []
          },
          "tenant_id": {
            "type": "string",
            "title": "Tenant Id",
            "description": "Unique identifier for the tenant/organization",
            "example": "tenant_1234"
          },
          "sub_tenant_id": {
            "type": "string",
            "title": "Sub Tenant Id",
            "description": "Optional sub-tenant identifier used to organize data within a tenant. If omitted, the default sub-tenant created during tenant setup will be used.",
            "default": "",
            "example": "sub_tenant_4567"
          },
          "upsert": {
            "type": "boolean",
            "title": "Upsert",
            "description": "If true, update existing sources with the same source_id.",
            "default": true,
            "example": true
          }
        },
        "type": "object",
        "required": [
          "memories",
          "tenant_id"
        ],
        "title": "Body_add_memory_memories_add_memory_post"
      },
      "Body_filter_raw_embeddings_endpoint_embeddings_filter_raw_embeddings_post": {
        "properties": {
          "tenant_id": {
            "type": "string",
            "title": "Tenant Id",
            "description": "Unique identifier for the tenant/organization",
            "example": "tenant_1234"
          },
          "sub_tenant_id": {
            "type": "string",
            "title": "Sub Tenant Id",
            "description": "Optional sub-tenant identifier used to organize data within a tenant. If omitted, the default sub-tenant created during tenant setup will be used.",
            "example": "sub_tenant_4567"
          },
          "source_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Id",
            "description": "Optional source ID to filter by (mutually exclusive with chunk_ids)"
          },
          "chunk_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Chunk Ids",
            "description": "Optional list of chunk IDs to filter by (mutually exclusive with source_id)",
            "example": [
              "CortexEmbeddings123_0",
              "CortexEmbeddings123_1"
            ]
          },
          "output_fields": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Output Fields",
            "description": "Optional list of fields to return in results (default: chunk_id, source_id, metadata)"
          },
          "limit": {
            "type": "integer",
            "maximum": 10000,
            "minimum": 1,
            "title": "Limit",
            "description": "Maximum number of results to return",
            "default": 100,
            "example": 1
          }
        },
        "type": "object",
        "required": [
          "tenant_id",
          "sub_tenant_id"
        ],
        "title": "Body_filter_raw_embeddings_endpoint_embeddings_filter_raw_embeddings_post"
      },
      "Body_insert_raw_embeddings_endpoint_embeddings_insert_raw_embeddings_post": {
        "properties": {
          "tenant_id": {
            "type": "string",
            "title": "Tenant Id",
            "description": "Unique identifier for the tenant/organization",
            "example": "tenant_1234"
          },
          "sub_tenant_id": {
            "type": "string",
            "title": "Sub Tenant Id",
            "description": "Optional sub-tenant identifier used to organize data within a tenant. If omitted, the default sub-tenant created during tenant setup will be used.",
            "default": "",
            "example": "sub_tenant_4567"
          },
          "embeddings": {
            "items": {
              "$ref": "#/components/schemas/RawEmbeddingDocument"
            },
            "type": "array",
            "title": "Embeddings",
            "description": "List of raw embedding documents to insert",
            "example": [
              [
                0.123413,
                0.655367,
                0.987654,
                0.123456,
                0.789012
              ],
              [
                0.123413,
                0.655367,
                0.987654,
                0.123456,
                0.789012
              ]
            ]
          },
          "upsert": {
            "type": "boolean",
            "title": "Upsert",
            "description": "If True, update existing embeddings; if False, insert only",
            "default": false,
            "example": true
          }
        },
        "type": "object",
        "required": [
          "tenant_id",
          "embeddings"
        ],
        "title": "Body_insert_raw_embeddings_endpoint_embeddings_insert_raw_embeddings_post"
      },
      "Body_search_raw_embeddings_endpoint_embeddings_search_raw_embeddings_post": {
        "properties": {
          "tenant_id": {
            "type": "string",
            "title": "Tenant Id",
            "description": "Unique identifier for the tenant/organization",
            "example": "tenant_1234"
          },
          "sub_tenant_id": {
            "type": "string",
            "title": "Sub Tenant Id",
            "description": "Optional sub-tenant identifier used to organize data within a tenant. If omitted, the default sub-tenant created during tenant setup will be used.",
            "example": "sub_tenant_4567"
          },
          "query_embedding": {
            "items": {
              "type": "number"
            },
            "type": "array",
            "title": "Query Embedding",
            "description": "Query embedding vector to search for",
            "example": []
          },
          "limit": {
            "type": "integer",
            "maximum": 1000,
            "minimum": 1,
            "title": "Limit",
            "description": "Maximum number of results to return",
            "default": 10,
            "example": 1
          },
          "filter_expr": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Filter Expr",
            "description": "Optional Milvus filter expression for additional filtering"
          },
          "output_fields": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Output Fields",
            "description": "Optional list of fields to return in results (default: chunk_id, source_id, metadata)"
          }
        },
        "type": "object",
        "required": [
          "tenant_id",
          "sub_tenant_id",
          "query_embedding"
        ],
        "title": "Body_search_raw_embeddings_endpoint_embeddings_search_raw_embeddings_post"
      },
      "Body_upload_knowledge_ingestion_upload_knowledge_post": {
        "properties": {
          "tenant_id": {
            "type": "string",
            "title": "Tenant Id",
            "description": "Unique identifier for the tenant/organization",
            "example": "tenant_1234"
          },
          "sub_tenant_id": {
            "type": "string",
            "title": "Sub Tenant Id",
            "description": "Optional sub-tenant identifier used to organize data within a tenant. If omitted, the default sub-tenant created during tenant setup will be used.",
            "default": "",
            "example": "sub_tenant_4567"
          },
          "upsert": {
            "type": "boolean",
            "title": "Upsert",
            "description": "If true, update existing sources with the same id.",
            "default": true,
            "example": true
          },
          "files": {
            "items": {
              "type": "string",
              "format": "binary"
            },
            "type": "array",
            "title": "Files",
            "description": "Files to upload (documents). Omit or leave empty when only sending app_sources.",
            "default": []
          },
          "file_metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File Metadata",
            "description": "JSON array of file metadata objects; length must match files when provided."
          },
          "app_sources": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "App Sources",
            "description": "JSON: single source object or array of app-generated sources to index. Omit when only uploading files."
          }
        },
        "type": "object",
        "required": [
          "tenant_id"
        ],
        "title": "Body_upload_knowledge_ingestion_upload_knowledge_post"
      },
      "CollectionStats": {
        "properties": {
          "row_count": {
            "type": "integer",
            "title": "Row Count",
            "description": "Number of rows in the collection",
            "example": 1
          },
          "dimensions": {
            "type": "integer",
            "title": "Dimensions",
            "description": "Number of dimensions in the collection",
            "example": 1
          }
        },
        "type": "object",
        "required": [
          "row_count",
          "dimensions"
        ],
        "title": "CollectionStats"
      },
      "ContentModel": {
        "properties": {
          "text": {
            "type": "string",
            "title": "Text",
            "description": "Plain text content extracted or provided for indexing.",
            "default": "",
            "example": "<text>"
          },
          "html_base64": {
            "type": "string",
            "title": "Html Base64",
            "description": "Base64-encoded HTML content preserving structure and formatting.",
            "default": "",
            "example": "<html_base64>"
          },
          "csv_base64": {
            "type": "string",
            "title": "Csv Base64",
            "description": "Base64-encoded CSV data for tabular content ingestion.",
            "default": "",
            "example": "<csv_base64>"
          },
          "markdown": {
            "type": "string",
            "title": "Markdown",
            "description": "Raw Markdown content to be indexed as rich text.",
            "default": "",
            "example": "<markdown>"
          },
          "files": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Files",
            "description": "List of file descriptors associated with the source (e.g., filenames, sizes)."
          },
          "layout": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Layout",
            "description": "Optional layout metadata such as sections or blocks to guide chunking.",
            "example": []
          }
        },
        "type": "object",
        "title": "ContentModel"
      },
      "CustomPropertyDefinition": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Property name (used as field name in Milvus)",
            "example": "<name>"
          },
          "data_type": {
            "$ref": "#/components/schemas/MilvusDataType",
            "description": "Milvus data type. Use VARCHAR for text fields that need embeddings.",
            "default": "VARCHAR"
          },
          "max_length": {
            "type": "integer",
            "title": "Max Length",
            "description": "Max length for VARCHAR fields. Increase for longer text content.",
            "default": 1024,
            "example": 1
          },
          "enable_analyzer": {
            "type": "boolean",
            "title": "Enable Analyzer",
            "description": "Enable text analyzer for full-text search capabilities",
            "default": false,
            "example": true
          },
          "enable_match": {
            "type": "boolean",
            "title": "Enable Match",
            "description": "Enable TEXT_MATCH filtering on this field",
            "default": false,
            "example": true
          },
          "enable_dense_embedding": {
            "type": "boolean",
            "title": "Enable Dense Embedding",
            "description": "Create a dense embedding field (FLOAT_VECTOR) for semantic similarity search. Only applicable to VARCHAR fields. A corresponding '{name}_embedding' field will be created.",
            "default": false,
            "example": true
          },
          "enable_sparse_embedding": {
            "type": "boolean",
            "title": "Enable Sparse Embedding",
            "description": "Create a sparse embedding field (BM25) for keyword search. Only applicable to VARCHAR fields. A corresponding '{name}_sparse' field and BM25 function will be created.",
            "default": false,
            "example": true
          },
          "nullable": {
            "type": "boolean",
            "title": "Nullable",
            "description": "Whether field can be null",
            "default": true,
            "example": true
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "CustomPropertyDefinition",
        "description": "Definition for custom/dynamic properties on a collection.\n\nUse this to define tenant metadata fields that can enhance search capabilities:\n- enable_dense_embedding: Creates a dense vector field for semantic similarity search\n- enable_sparse_embedding: Creates a sparse vector field for BM25 keyword search\n\nExample:\n    CustomPropertyDefinition(\n        name=\"product_description\",\n        data_type=MilvusDataType.VARCHAR,\n        max_length=4096,\n        enable_dense_embedding=True,  # Enables semantic search on this field\n        enable_sparse_embedding=True,  # Enables keyword search on this field\n    )"
      },
      "DashboardApisResponse": {
        "properties": {
          "api_keys": {
            "items": {
              "$ref": "#/components/schemas/ApiKeyInfo"
            },
            "type": "array",
            "title": "Api Keys",
            "description": "List of API keys",
            "example": []
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Total number of API keys",
            "example": 1
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Response message",
            "default": "Successfully retrieved API keys"
          }
        },
        "type": "object",
        "required": [
          "count"
        ],
        "title": "DashboardApisResponse"
      },
      "DashboardSourcesResponse": {
        "properties": {
          "sources": {
            "items": {
              "$ref": "#/components/schemas/SourceModel"
            },
            "type": "array",
            "title": "Sources",
            "description": "List of sources"
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Total number of sources",
            "example": 1
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Response message",
            "default": "Successfully retrieved sources"
          }
        },
        "type": "object",
        "required": [
          "count"
        ],
        "title": "DashboardSourcesResponse"
      },
      "DashboardTenantsResponse": {
        "properties": {
          "tenants": {
            "items": {
              "$ref": "#/components/schemas/TenantInfo"
            },
            "type": "array",
            "title": "Tenants",
            "description": "List of tenants",
            "example": []
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Total number of tenants",
            "example": 1
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Response message",
            "default": "Successfully retrieved tenants"
          }
        },
        "type": "object",
        "required": [
          "count"
        ],
        "title": "DashboardTenantsResponse"
      },
      "DeleteResult": {
        "properties": {
          "delete_count": {
            "type": "integer",
            "title": "Delete Count",
            "description": "Number of entities deleted",
            "example": 1
          },
[...]
